---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

.gravatar {
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.orcid-logo-for-author-list {

    background: transparent url("https://orcid.org/sites/default/files/images/orcid_128x128.gif") center center no-repeat;
    background-size: 16px;
    width: 16px;
    height: 16px;
    margin: 0 4px;
    display: inline-block;
    vertical-align: middle;

}
.wiki-logo-for-author-list {

    background: transparent url("https://upload.wikimedia.org/wikipedia/commons/5/5a/Wikipedia%27s_W.svg") center center no-repeat;
    width: 16px;
    height: 16px;
    margin: 0 4px;
    display: inline-block;
    vertical-align: middle;

}

.mbtablestyle {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 85%;
    border-style:hidden;
    > table, td, th {
        width: 12%;
    }

}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "tools"
;
