---
layout: page
title: Tools
permalink: /tools/
---


{{ collection_titles }}

{% assign groups = site.tools | group_by: "categories" | map: "name" | join: "," | remove: "["  | remove: "]" | remove: '"'  | remove: " " | split: "," | sort | uniq %}

{% for name in groups %}
  <div class="whiteboard">
      {% if name contains "LaTeX" %}
        <h1><span class="latex">L<sup>a</sup>T<sub>e</sub>X</span></h1>
      {% else %}
        <h1>{{ name }}</h1><br>
      {% endif %}
  {% for tool in site.tools %}
     {% if tool.categories contains name %}
       <a href="{{ tool.url }}">
               <img height="100" alt="{{tool.title}}" src="{{ tool.logo }}" {% if tool.title == "etherpad" %} style="background-color:#555" {% endif %} >
           </a>
      {% endif %}
  {% endfor %}
           <br>
  </div> <br>
{% endfor %}

<br>
