---
layout: default
---
<article class="post">

  <div class="tools">
    <a href="{{ page.link }}">
      <img src="{{ page.logo }}">
    </a>
    {% if page.program %}
      <h1>{{ page.program }}</h1>
    {% endif %}
  </div>

  <br>
  <div class="tools-info">

      {% if page.wlink %}
    <a href="{{page.wlink}}">
      <img src="/assets/wikipedia.png" alt="wikipedia">
    </a>
    {% endif %}
  {% if page.opensource %}
      <a href="{{page.opensource}}">
        <img src="/assets/text.png">
        {% if page.opensource contains "github" %}
          <div class="logo">
            <span class="icon icon--github">
              {% include icon-github.svg %}
            </span>
          </div>

        {% elsif page.opensource contains "gitlab" %}
          <div class="logo">
              <span class="icon icon--github">
                      {% include icon-gitlab.svg %}
              </span>
          </div>

        {% elsif page.opensource contains "bitbucket" %}
          <div class="logo">
              <span class="icon icon--github">
                  {% include icon-bitbucket.svg %}
              </span>
          </div>
        {% endif %}
      </a>
  {% endif %}
  </div>

  <div class="tools-os">
      {% for os in page.os %}
        <div class="icon">
          <img src="/assets/{{os[0]}}.png">
          <!-- os icon from: http://www.freeiconspng.com/ -->
        {% unless os[1] %}
          <div class="not">
            <img src="/assets/forbidden.png" alt="not">
          </div>
        {% endunless %}
        {% if os[1] == 'web' %}
          <div class="web">
              <img src="/assets/web.png" alt="not">
              <!-- web icon from: http://www.iconarchive.com/show/aerial-icons-by-chromatix/web-icon.html -->
          </div>
        {% endif %}
        </div>
      {% endfor %}
        {% if page.mobile %}
        <div class="icon">
            <img src="/assets/mobile.png" >
        </div>
        {% endif %}
  </div>

  <div class="post-content">
      {{ content }}
  </div>
  <div class="whiteboard">
      <div class="whiteboard-question" >
  <h2 class="pros">Pros</h2>
  <ul class="whiteboard-list">
      {% for pros in page.pros %}
      <li> {{ pros | markdownify }} </li>
      {% endfor %}
  </ul>
      </div>
      <div class="whiteboard-question" >
  <h2 class="cons">Cons</h2>
  <ul class="whiteboard-list">
      {% for cons in page.cons %}
      <li> {{ cons | markdownify }} </li>
      {% endfor %}
  </ul>
      </div>
  </div>

</article>
